@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-heading about-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Welcom Admin</h4>
                    <h2>Area</h2>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="team-members">
    <div class="container">

    </div>
</div>


<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="down-content">
                        <h4>الرئيسية</h4>
                        <a href="Index" class="filled-button">الرئيسية</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="down-content">
                        <h4>قائمة المنتجات</h4>
                        <a href="ProductList" class="filled-button">قائمة المنتجات</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="down-content">
                        <h4>طلبيات العميل</h4>
                        <a href="userorders" class="filled-button">طلبيات العميل</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>